/libraries/
/minecraft_server.*.jar
/forge-*-*-universal.jar
/eula.txt
/logs/
/world/
/usercache.json
/whitelist.json
/ops.json
/banned-players.json
/banned-ips.json

/mods/

/.mixin.out/
/crafttweaker.log
/dynmap/web/tiles/faces
/dynmap/web/tiles/world
/options.txt
