
# バイナリファイル
/forge-1.12.2-14.23.4.2705-universal.jar
/minecraft_server.1.12.2.jar
/libraries/
/mods/?1.12??forge2413?mod_CutAllSMP_v2.5.2.zip
/mods/?1.12??forge2413?mod_DigAllSMP_v2.3.2.zip
/mods/?1.12??forge2413?mod_MineAllSMP_v2.6.5.zip
/mods/appliedenergistics2-rv6-stable-1.jar
/mods/BetterBuildersWands-1.12-0.11.1.245+69d0d70.jar
/mods/BetterFps-1.4.8.jar
/mods/BiblioCraft?v2.4.5??MC1.12.2?.jar
/mods/comforts-1.12.2-1.1.3.jar
/mods/CraftTweaker2-1.12-4.1.11.jar
/mods/davincisvessels-1.12-6.340-full.jar
/mods/Dynmap-3.0-beta-1-forge-1.12.2_riana-patched001.jar
/mods/foamfix-0.10.1-1.12.2.jar
/mods/ImmersiveEngineering-0.12-89.jar
/mods/ImmersiveCables-1.12.2-1.3.2.jar
/mods/jei_1.12.2-4.11.0.212.jar
/mods/InfluxDBUploaderMod-0.0.6.jar
/mods/memory_repo/blusunrize/ImmersiveEngineering-core/0.12-89
/mods/Morpheus-1.12-3.3.2.jar
/mods/movingworld-1.12-6.342-full.jar
/mods/Reforged-0.7.5-1.12+.jar
/mods/rockycore-1.12.2-0.4.1.jar
/mods/thutessentials-1.12.2-2.2.16.jar
/mods/thutpermissions-1.12.2-2.1.9.jar

# ゲームデータファイル
/world/
/dynmap/markers.yml
/ops.json
/whitelist.json
/banned-players.json
/banned-ips.json

# コンフィグ系ファイル
/eula.txt
/options.txt

# ログファイル
/logs/
/crafttweaker.log

# 一時ファイル・キャッシュファイル
/usercache.json
/usernamecache.json
/.mixin.out/
/dynmap/web/tiles/faces
/dynmap/web/tiles/world
/dynmap/ids-by-ip.txt
/dynmap/world.pending
